<style>

body {  /* fix webkit adjacent sibling bug */
  -webkit-animation: bugfix infinite 1s; 
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

.mobilesidemenu {
    width: 0;
    /* width of main container doesn't need width */
}

.mobilesidemenu, .mobilesidemenu * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobilesidemenu input[type="checkbox"] {
    /* checkbox used to toggle menu state */
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

.mobilesidemenu > label {
    /* Main label icon to toggle menu state */
    z-index: 100;
    display: block;
    position: relative;
    font-size: 10px;
    /* change font size to change label dimensions. Leave width/height below alone */
    width: 3.5em;
    height: 3em;
    top: 0;
    left: 0;
    background: white;
    text-indent: -1000px;
    border: 0.6em solid #222;
    /* border color */
    border-width: 0.6em 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* transition for animating label */
}


.mobilesidemenu > label::before, .mobilesidemenu > label::after {
    /* inner stripes inside label */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.6em;
    top: 50%;
    margin-top: -0.3em;
    left: 0;
    background: #222;
    /* stripes background color. Change to match border color of parent label above */
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* transition for flipping label */
}

.mobilesidemenu nav {
    /* NAV menu inside container */
    margin: 0;
    padding: 5px;
    position: fixed;
    text-transform: uppercase;
    border-right: 1px solid gray;
    font: bold 14px Verdana;
    width: 280px;
    /* width of nav menu */
    height: 100%;
    left: -280px;
    /* set left to -width of menu */
    top: 0;
    z-index: 10000;
		-webkit-transform: translate3d(0, 0, 0); /* trigger hardware acceleration */
		transform: translate3d(0, 0, 0);
    background: rgb(242,242,242);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%, rgba(219,219,219,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(219,219,219,1)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%,rgba(219,219,219,1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%,rgba(219,219,219,1) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%,rgba(219,219,219,1) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(242,242,242,1) 0%,rgba(219,219,219,1) 100%);
    /* W3C */
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* transition for animating nav in and out */
}


.mobilesidemenu nav h2 {
    color: #222;
    margin-bottom: 10px;
    border-bottom: 2px solid #73462d;
}

.mobilesidemenu ul {
    /* UL menu inside container */
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobilesidemenu li {
}


.mobilesidemenu li a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    /* font size of menu links */
    border-left: 8px solid silver;
    border-bottom: 1px solid #c1c1c1;
    color: #3b3b3b;
    margin: 0;
    padding: 12px;
}

.mobilesidemenu li a:active {
    background: #222;
    color: white;
}


.mobilesidemenu nav label {
    /* label button inside nav to close menu */
    cursor: pointer;
    position: absolute;
    text-transform: lowercase;
    right: 0;
    top: 0;
    -moz-border-radius: 0 0 0 40px;
    -webkit-border-radius: 0 0 0 40px;
    border-radius: 0 0 0 40px;
    width: 40px;
    height: 30px;
    background: #222;
    /* box-shadow: 0 0 5px gray;*/
    text-align: center;
}


.mobilesidemenu nav label::after {
    /* label button x */
    content: "x";
    color: white;
    display: block;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 6px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mobilesidemenu .overlay {
    /* overlay that covers entire page when menu is open */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .6;
    background: #222;
    z-index: 1001;
    visibility: hidden;
}

.mobilesidemenu .overlay label {
    /* label of overlay that closes menu when clicked on */
    width: 100%;
    height: 100%;
    position: absolute;
}


.mobilesidemenu nav label:checked::after {
    /* state of NAV label::after when mouse moves over */
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg);
    /* flip labels vertically onMouseover */
}

.mobilesidemenu input[type="checkbox"]:checked ~ label {
    /* state of main menu label when menu is open  */
    border-color: transparent;
}

.mobilesidemenu input[type="checkbox"]:checked ~ label::before {
    /* state of main menu label::before when menu is open  */
    transform: rotate(-45deg);
}

.mobilesidemenu input[type="checkbox"]:checked ~ label::after {
    /* state of main menu label::after when menu is open  */
    transform: rotate(45deg);
}

.mobilesidemenu input[type="checkbox"]:checked ~ nav {
    /* state of NAV when menu is open  */
    left: 0;
    /* set left to 0 to animate it into view  */
}

.mobilesidemenu input[type="checkbox"]:checked ~ div.overlay {
    /* state of overlay when menu is open  */
    visibility: visible;
}

</style>


<!--[if lte IE 8]>
<style>

.mobilesidemenu > label{
	border: 6px solid #222;
	background: #eee;
	height: 30px;
}

</style>

