/*
 * Author: Ampling Consultancy
 * URL: http://ampling.com
 *
 * Project Name: New Design
 * Version: 1.0
 * Date: 05-31-2016
 * URL: 
 */


/* ============
GENERAL
============ */
.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.off-canvas-wrapper {
  background-color: #222;
}

.off-canvas-wrapper-inner {
  background-color: white;
}


/* ============
NAV-MOBILE
============ */

.title-bar {
  background-color: #222;
  opacity: 0.95;
  height: 60px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 1.4em;
}

.title-bar a {
  color: rgba(255,255,255,0.8);
}

.site-logo-mobile {
  padding: 0 0 0 4.5%;
}

#mobile-menu {
  background-color: #222;
  padding: 20px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color: rgba(255,255,255,0.8);
}

#mobile-menu p {
  color: rgba(255,255,255,0.4);
}

.js-off-canvas-exit {
  background: rgba(0,0,0,0.5);
}



/* ============
DYNAMIC MOBILE SIDE MENU
============ */
.hamburger {
  margin: 0 50px 0 0;
}

#msidemenu h2 {
  margin: 0px 0 0 0;
}


/* ============
NAV-DESKTOP
============ */
.nav-desktop {
  background-color: #222;
  opacity: 0.95;
  height: 80px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.site-logo {
  color: white;
  line-height: 80px;
}

.nav-desktop .menu-desktop {
  background-color: transparent;
  line-height: 80px;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
} 


.menu > li > a:hover {
  background-color: rgba(255,255,255, 0.1);
  transition: width 6s;
}

/* ============
HERO
============ */
.hero {
  background-color: silver;
  padding: 80px 0px;
  height: 400px;
  background-image: url("../img/concrete_wall.png");
}

.hero h1, 
.hero p {
  color: rgba(255,255,255,0.9);
  width: 70%;
  margin-top: 20px;
}

.hero img {
}

.hero .tape {
  position: absolute;
  /*margin-top: 10px;*/
  top: 320px;
  max-width: 50%;
  right: 0px;
}

/* ============
MAIN
============ */
.main {
  padding: 0 0 120px 0;
}

.zone {
  padding: 80px 0 0 0;
}

.seperator {
  width: 100%;
  padding: 80px 0 0 0;
}

.award img {
  width: 70%;
  height: auto;
  padding: 20px 0 0 0;
}

.wrap .award {
  padding: 0 10px;
}


/* ============
FOOTER
============ */
footer {
  background-color: #222;
  padding: 0px 0px;
}

footer h4 {
  color: rgba(255,255,255,0.8);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255,255,255,0.1); 
  margin: 10px 0;
}

footer a {
  display: block;
  color: rgba(255,255,255,0.6);
  font-size: 0.8em;
}

footer a span {
  font-weight: bold;
  color: rgba(255,255,255,0.3);
}

footer a:hover {
  color: rgba(255,255,255,0.8);
}

footer .columns {
  padding-bottom: 20px;
}

footer .tm hr {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-color: rgba(255,255,255,0.02);
}

footer .tm span {
  color: rgba(255,255,255,0.05);
}


/* ============
MEDIA QUERY
============ */

/* MOBILE  */
@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
  .seperator {
    width: 100%;
    padding: 40px 0 0 0;
  }

}


/* MEDIUM */
@media (max-width: 875px) {
  .hero h1,
  .hero p {
    width: 100%;
  }
  .hero p {
    font-size: 1.2em;
  }


}
@media (min-width: 640px) {

  .zone {
    padding: 120px 0;
  }
}
