/*
 * Author: Ampling Consultancy
 * URL: http://ampling.com
 *
 * Project Name: New Design
 * Version: 1.0
 * Date: 05-31-2016
 * URL: 
 */


/* ============
GENERAL
============ */
.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}


/* ============
NAV-MOBILE
============ */

.title-bar {
  background-color: #222;
  opacity: 0.90;
  height: 60px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 3;
  font-size: 1.4em;
}

.title-bar a {
  color: rgba(255,255,255,0.8);
}

.site-logo-mobile {
  padding: 0 0 0 4.5%;
  font-weight: bold;
  font-family: serif;

}

#mobile-menu {
  background-color: #222;
  padding: 20px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color: rgba(255,255,255,0.8);
}

#mobile-menu p {
  color: rgba(255,255,255,0.4);
}



.truck {
  background-image: url("../img/truck.gif");
  background-repeat: no-repeat;
  width: 262px;
  height: 174px;
  opacity: 0.90;
}



/* ============
DYNAMIC MOBILE SIDE MENU
============ */
.hamburger {
  margin: 5px 50px 0 0;
}

#msidemenu h2 {
  margin: 0px 0 0 0;
}


/* ============
NAV-DESKTOP
============ */
.nav-desktop {
  background-color: #222;
  opacity: 0.90;
  height: 80px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.site-logo {
  color: white;
  line-height: 80px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.nav-desktop .menu-desktop {
  background-color: transparent;
  line-height: 80px;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
} 


.menu > li > a:hover {
  background-color: rgba(255,255,255, 0.1);
  transition: width 6s;
}

/* ============
HERO
============ */
.hero {
  overflow:hidden;
  background-color: #222;
  padding: 80px 0px;
  height: 400px;
  background-image: url("../img/concrete_wall.png");
  left: 50px, 0;
}

.hero h1, 
.hero p {
  color: rgba(255,255,255,0.9);
  width: 70%;
  margin-top: 20px;
}





.tapewrapper {
    background-image: url("../img/tape-sm.png"); 
    background-size: auto auto;
    position: absolute;
    top: 270px;
    right: 0px;
    overflow: hidden;
    width: 56%;
    height: 100px; 
    z-index: 1;
}

.tapewrapper:active {
    transition: .5s ease-in-out;
    right: -55%;
}




.blueprints {
  position: absolute;
  top: 250px;
  right: 0;
  height: 150px;
  width: 55%;
  background-image: url("../img/blueprint.svg");
  background-position: top left;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 0.1;
}
.blueprints p {
  padding: 110px 0 0 10px;
  font-size: .8em;
  text-align: center;
  width: 800px;
}


/* ============
ACTION
============ */

.action {
  width: 100%;
}


/* ============
MAIN
============ */
.main {
  padding: 0 0 120px 0;
}

.zone {
  padding: 80px 0 0 0;
}

.seperator {
  width: 100%;
  padding: 80px 0 0 0;
}

.award img {
  width: 70%;
  height: auto;
  padding: 20px 0 0 0;
}

.wrap .award {
  padding: 0 10px;
}


/* ============
FOOTER
============ */
footer {
  background-color: #222;
  padding: 0px 0px;
}

footer h4 {
  color: rgba(255,255,255,0.8);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255,255,255,0.1); 
  margin: 10px 0;
}

footer a {
  display: block;
  color: rgba(255,255,255,0.6);
  font-size: 0.8em;
}

footer a span {
  font-weight: bold;
  color: rgba(255,255,255,0.3);
}

footer a:hover {
  color: rgba(255,255,255,0.8);
}

footer .columns {
  padding-bottom: 20px;
}

footer .tm hr {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-color: rgba(255,255,255,0.02);
}

footer .tm span {
  color: rgba(255,255,255,0.05);
}


/* ============
MEDIA QUERY
============ */

/* MOBILE  */
@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
  .seperator {
    width: 100%;
    padding: 40px 0 0 0;
  }

}


/* MEDIUM */
@media (max-width: 875px) {
  .hero h1,
  .hero p {
    width: 100%;
  }
  .hero p {
    font-size: 1.2em;
  }
  .blueprints p {
    padding: 105px 0 0 10px;
    font-size: 1em;
  }


}
@media (min-width: 640px) {

  .zone {
    padding: 120px 0;
  }
  .tapewrapper {
        background-image: url("../img/tape-lg.png");
  }
}
